.show-recipe {
  padding: 10px 0;
  height: 100%;

  &__bottom {
    display: flex;
    justify-content: space-between;

    .fa {
      font-size: 0.8rem;

      &-star {
        color: orange;
      }
    }

  }
  .card {
    height: 100%;
    transition: all 0.3s;
    max-height: 50vh;

    &:hover {
      cursor: pointer;
    }

    img {
      height: 20vh;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        font-size: 0.8rem;

        &.date-info {
          margin: 0 0 0 auto;
          text-align: right;
          font-size: 0.7rem;
          color: grey;
        }
      }

    }
  }

  &.horizontal {
    .card {
      flex-direction: row;
      max-height: 50vh;

      img {
        height: auto;
      }

      .card-img-top {
        width: 70%;
        height: 100%;
      }

      .show-recipe__top {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &.big-card {
    max-height: 60vh;
    .card-img-top {
      height: 65%;
    }
  }
}
