.new-recipe-form {
  background: rgba(255, 255, 255, 0.85);
  padding: 1rem;
  border-radius: 3px;
  overflow: hidden;

  .form-group {
    align-items: center;

    div {
      text-align: left;
    }

    label {
      margin: 0;
    }
  }
}