@import 'src/style/variables.scss';

.fake-input {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: $trout;
  background-color: $blue-transparent;
  border: 1px solid $ghost;
  border-radius: 0.25rem;
  display: flex;

  p {
    margin: 0 0.2rem;

    &.input-item {
      background: grey;
      border-radius: 3px;
      color: $white;
      padding: 0.1rem 0.4rem;
    }
  }
}