$orange: #F9AB4D;
$red: #F94D68;
$swan-grey: #C4BABC;
$emperor: #4F4547;
$silver: #B5BCC0;
$apple: #3DA82E;
$trout: #495057;
$ghost: #ced4da;
$dusty: #9e9797;
$white: #fff;
$gallery: #eee;
$white-transparent: rgba(255, 255, 255, 0.8);
$blue-transparent: rgba(23, 162, 184, 0.2);
$black: #000;
$shaft: #333;